.slide-right-enter {
  transform: translate(50vw, 0);
  opacity: 0;
}
.slide-right-enter-to {
  opacity: 1;
}
.slide-right-enter-active .button {
  display: none;
}
.slide-right-enter-active {
  transition: all 0.5s 0s ease;
}
.slide-right-leave {
  transform: translate(0, 0);
  opacity: 1;
}
.slide-right-leave-to {
  transform: translate(-50vw, 0);
  opacity: 0;
}
.slide-right-leave-active .button {
  display: none;
}
.slide-right-leave-active {
  transition: all 0.5s 0s ease;
}

.slide-left-enter {
  transform: translate(-50vw, 0);
  opacity: 0;
}
.slide-left-enter-to {
  opacity: 1;
}
.slide-left-enter-active .button {
  display: none;
}
.slide-left-enter-active {
  transition: all 0.5s 0s ease;
}
.slide-left-leave {
  transform: translate(0, 0);
  opacity: 1;
}
.slide-left-leave-to {
  transform: translate(50vw, 0);
  opacity: 0;
}
.slide-left-leave-active .button {
  display: none;
}
.slide-left-leave-active {
  transition: all 0.5s 0s ease;
}